.App {
  text-align: center;
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.7);
}

.popup-inner {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  width: 40%;
}

.tableFixHead {
  /* make the table scrollable if height is more than 200 px */
  overflow-y: auto;
  overflow-x: auto;
  /* gives an initial height of 200px to the table */
  height: 200;
}
/* This is for all the the "th" elements in the first child row */
.tableFixHead thead > :first-child th {
  /* make the table heads sticky */
  position: sticky;
  /* table head will be placed from the top of the table and sticks to it */
  top: 0px;
  height: 30px;
}
/* This is for all the the "th" elements in the second row, (in this casa is the last child element into the thead) */
.tableFixHead thead > :last-child th {
  /* make the table heads sticky */
  position: sticky;
  /* table head will be placed from the top of the table and sticks to it */
  top: 40px;
}

table {
  /* make the table borders collapse to each other */
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 5px 16px;
  border: 1px solid #ccc;
}
th {
  background: #eee;
}

/* This is for all the the "th" elements in the second row, (in this casa is the last child element into the thead) */
/* thead > :last-child th
{
    position: sticky;
    top: 30px;
} */

/* This is for all the the "th" elements in the first child row */
/* thead > :first-child th
{
    position: sticky;
    top: 0px;
} */

/* thead, th {
  position: sticky;
  top: 0px;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
